<table xmlns:th="http://www.thymeleaf.org">
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last</th>

    </tr>
    <!--/*@thymesVar id="authors" type="com.lmsolutions.coursespring5WebApp.model.Author"*/-->
    <tr th:each="author : ${authors}">
        <!--/*@thymesVar id="id" type="Long"*/-->
        <td th:text="${author.id}">123</td>
        <!--/*@thymesVar id="firstName" type="String"*/-->
        <td th:text="${author.firstName}">Joe</td>
        <!--/*@thymesVar id="lastName" type="String"*/-->
        <td th:text="${author.lastName}">Buck</td>


    </tr>
</table>
